DJANGO_SETTINGS_MODULE=openpersonen.conf.dev
SECRET_KEY="%9+dfjw+zd3@q)ehsx(pdwy-ueq0zt=90gb4+&qd^6ytpj@p7#"
DB_NAME="openpersonen"
DB_USER="openpersonen"
DB_PASSWORD="openpersonen"
OPENPERSONEN_BACKEND=openpersonen.contrib.stufbg.backend.default
OPENPERSONEN_USE_AUTHENTICATION=True
